<div class="header-meta">
    <div class="logo">
        <span class="material-symbols-outlined logo-icon">spa</span>
        <a href="{{siteUrl}}">{{siteTitle}}</a>
    </div>
    <div class="header-nav-wrapper">
        <nav class="nav-links" id="mainNavLinks" aria-label="Main Navigation">
            {{navigation:primary}}
        </nav>
    </div>
    <div class="header-actions">
        <button type="button" class="theme-toggle" id="themeToggle" aria-label="Switch theme">
            <span class="material-symbols-outlined">dark_mode</span>
        </button>
        <button type="button" class="nav-toggle" id="navToggle" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="mainNavLinks">
            <span class="material-symbols-outlined nav-toggle-icon">menu</span>
        </button>
    </div>
</div>